{% load static %}
<div class="row">
    <div class="container bg-danger rounded my-4">
        <div class="spam text-white text-center display-4 fw-bold">
            Know some of our most famous burgers!
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-10 offset-1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card bg-warning p-5" style="height:650px">
                    <img src="{% static 'djangoburger/burger_views.jpg' %}" class="card-img-top" alt="hamburger">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Burger View</h5>
                        <p class="card-text">colocar o texto do burger aqui, algo longo pra que seja como um descricao.
                            Esse conteudo deve ter umas 5 ou 6 linhas.</p>
                    </div>
                    <div class="span display-4 text-end mx-3 text-danger fw-bold"> € 14,99 </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-warning p-5" style="height:650px">
                    <img src="{% static 'djangoburger/burger_sqlite.jpg' %}" class="card-img-top" alt="hamburger">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Burger Sqlite</h5>
                        <p class="card-text">colocar o texto do burger aqui, algo longo pra que seja como um descricao.
                            Esse conteudo deve ter umas 5 ou 6 linhas.</p>
                    </div>
                    <div class="span display-4 text-end mx-3 text-danger fw-bold"> € 14,99 </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-warning p-5" style="height:650px">
                    <img src="{% static 'djangoburger/burger_path.jpg' %}" class="card-img-top" alt="hamburger">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Burger Path</h5>
                        <p class="card-text">colocar o texto do burger aqui, algo longo pra que seja como um descricao.
                            Esse conteudo deve ter umas 5 ou 6 linhas.</p>
                    </div>
                    <div class="span display-4 text-end mx-3 text-danger fw-bold"> € 14,99 </div>
                </div>
            </div>
        </div>
    </div>
</div>