<h1>Django Burger</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning fs-3" href="{% url 'home' %}">Django Burger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ms-auto">
            <li class="nav-item active">
                <a class="nav-link active text-warning" href="{% url 'contact' %}">Contact <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="{% url 'products:list' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="#">Sign Up</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-warning" href="{% url 'register' %}">Berlin, Germany.</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>